apiVersion: daas.tenxcloud.com/v1
kind: FlinkCluster
metadata:
  name: flinksessioncluster
spec:
  serviceAccountName: flink-pod
  image:
    name: dev-registry.tenxcloud.com/system_containers/flink:1.8.2
    pullPolicy: Always
  jobManager:
    replicas: 1
    accessScope: Cluster
    securityContext:
      runAsUser: 9999
      runAsGroup: 9999
    ports:
      ui: 8081
    resources:
      limits:
        memory: "1024Mi"
        cpu: "200m"
    volumeMounts:
      - mountPath: /data
        name: data
    volumeClaimTemplates:
      - metadata:
          name: data
        spec:
          accessModes: [ "ReadWriteOnce" ]
          storageClassName: "gaozh-ebs"
          resources:
            requests:
              storage: 8Gi
  taskManager:
    replicas: 1
    resources:
      limits:
        memory: "1024Mi"
        cpu: "200m"
    volumes:
      - name: cache-volume
        emptyDir: { }
    volumeMounts:
      - mountPath: /cache
        name: cache-volume
      - mountPath: /data
        name: data
    volumeClaimTemplates:
      - metadata:
          name: data
        spec:
          accessModes: [ "ReadWriteOnce" ]
          storageClassName: "gaozh-ebs"
          resources:
            requests:
              storage: 8Gi
    sidecars:
      - name: sidecar
        image: alpine
        command:
          - "sleep"
          - "10000"
  flinkProperties:
    taskmanager.numberOfTaskSlots: "1"

